/* #footerdiv{
   background: transparent;
}
h3{
    width: 500px;
    color: white;
    border: solid;
    border-radius: 22px;
    position: relative;
    left: 35%;
}
#thanks{
    background: transparent; 
    color: white;
    width: 500px;
    border: solid;
    border-radius: 22px;
    position: relative;
    left: 35%;
}

#booklink{
    position: relative;
    left: 17%;
    
} */